In [12]:
import pandas as pd

In [4]:
df=pd.read_csv('data/newest.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,102,152) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df.shape

(17019, 155)

In [10]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [25]:
for i in range(25):
    print(df['l_'+str(i)+'_x'].dtype)

object
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [35]:
df['l_0_x'].dtype

dtype('O')

In [34]:
df['l_0_x'].value_counts()

0.0              4165
0                1318
-0.12890625        31
-0.1359375         31
-0.2203125         29
                 ...
-0.3409472256       1
-0.0803778651       1
0.3306190636        1
-0.1550584457       1
0.0605783763        1
Name: l_0_x, Length: 6124, dtype: int64

In [32]:
df['l_0_x'].isna().value_counts()

False    17019
Name: l_0_x, dtype: int64

In [36]:
s=df['l_0_x']

In [38]:
[x for x in s.apply(type).unique()]

[float, str]

In [39]:
x="2"

In [41]:
float(x).dtype

AttributeError: 'float' object has no attribute 'dtype'

In [42]:
import cv2

In [44]:
a=cv2.imread("abc")

In [50]:
if type(a)=="NoneType":
    print(1)

In [52]:
abc=type(a)

In [53]:
type(abc)

type

In [54]:
abc

NoneType

In [57]:
if a is None:
    print(1)

1

In [48]:
df=pd.read_csv("data/sub-test-annotations-bbox.csv")

In [70]:
df[df['ImageID']=="20200207_074428.jpg"].iloc[0]

ClassName             right_foot
ImageID      20200207_074428.jpg
XMax                      341.93
XMin                     223.505
YMax                     428.268
YMin                     75.9439
Name: 2000, dtype: object

In [63]:
np.array([1,2,3])

array([1, 2, 3])

In [71]:
torch.Tensor([1,2,3])

tensor([1., 2., 3.])

In [44]:
np.count_nonzero(df['XMin']==df['XMax'])

0

In [18]:
df_error=df[df['YMin']==df['YMax']]

In [19]:
df_error

      ClassName       ImageID   XMax        XMin   YMax   YMin
2024  left_foot  IMG_3515.JPG  256.0  136.450328  256.0  256.0

In [21]:
df_temp=pd.read_csv('data/newest.csv')

/home/chan/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,102,152) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
row=df_temp.iloc[1476]

In [ ]:
#let's try to transform it standalone

In [41]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

rows_list_train=[]
rows_list_test=[]


dataset_processed={}
num_points=25
int_nd = 0 # integer for not defined
j=0
# for index, row in tqdm(dataset.iterrows()):
j=j+1
dict_temp={}
left_x=[]
left_y=[]
right_x=[]
right_y=[]
img_name=row['url'].split('/')[-1]
#     print(img_name)
dataset_processed[img_name]={
        'l_prob' : row['l_probability'],
        'r_prob' : row['r_probability']
    }
for i in (range(num_points)):
    if (str(row['l_'+str(i)+'_v'])=='True'):
        print(row['l_' + str(i) + '_y'])
        left_x.append(512.0 * (0.5 + float(row['l_' + str(i) + '_x'])))
        left_y.append(512.0 * (1.0 - (0.5 + float(row['l_' + str(i) + '_y']))))
#             left_x.append(float(row['l_'+str(i)+'_x']))
#             left_y.append(float(row['l_'+str(i)+'_y']))

    if (str(row['r_'+str(i)+'_v'])=='True'):
        right_x.append(512.0 * (0.5 + float(row['r_' + str(i) + '_x'])))
        right_y.append(512.0 * (1.0 - (0.5 + float(row['r_' + str(i) + '_y']))))
#             print('yes')
#             right_x.append(float(row['r_'+str(i)+'_x']))
#             right_y.append(float(row['r_'+str(i)+'_y']))

#in line 12284 str is present in l_0_x that's why did float to all.       
print(left_y)
if row['l_probability'] != 0.0:

    assert(len(left_x) == len(left_y))
    #removed those images that cause width or height to be 0
    if len(left_x) > 1 and min(left_x)!=max(left_x) and min(left_y)!=max(left_y):
        dict_temp={
            'ImageID' : img_name,
            'XMin' : min(left_x),
            'YMin' : min(left_y),
            'XMax' : max(left_x),
            'YMax' : max(left_x),
            'ClassName' : str("left_foot")
        }
        if (j<int(0.8*dataset.shape[0])):
            rows_list_train.append(dict_temp)

        else:
            rows_list_test.append(dict_temp)

    else:
        print('Left Annotation Error:', img_name)




if row['r_probability'] != 0.0:
    assert(len(right_x) == len(right_y))
    if len(right_x) > 1 and min(right_x)!=max(right_x) and min(right_y)!=max(right_y):
        dict_temp={
            'ImageID' : img_name,
            'XMin' : min(right_x),
            'YMin' : min(right_y),
            'XMax' : max(right_x),
            'YMax' : max(right_y),
            'ClassName' : str("right_foot")
        }
        if (j<int(0.8*dataset.shape[0])):
            rows_list_train.append(dict_temp)

        else:
            rows_list_test.append(dict_temp)

    else:
        print('Right Annotation Error:', img_name)
            
        
            
        
            
        
df_train = pd.DataFrame(rows_list_train)
df_test = pd.DataFrame(rows_list_test)

-0.0703125
-0.0758326854
-0.11861777960000001
-0.11861777960000001
0.0
-0.07719402269999999
-0.0718458859
-0.0691556304
-0.0683427201
-0.0668408395
-0.0680319816
-0.0758326854
-0.0955649262
-0.1449396907
-0.1192478436
-0.1698959725
-0.1462895296
-0.1916591279
-0.1749858239
-0.2171439515
-0.2014989682
-0.24192240690000003
-0.2260678461
-0.266859801
[292.0, 294.8263349248, 316.73230315520004, 316.73230315520004, 256.0, 295.5233396224, 292.7850935808, 291.40768276480003, 290.9914726912, 290.222509824, 290.8323745792, 294.8263349248, 304.9292422144, 330.2091216384, 317.0548959232, 342.98673792, 330.9002391552, 354.1294734848, 345.5927418368, 367.177703168, 359.1674717184, 379.8642723328, 371.7467372032, 392.63221811200003]

In [39]:
df_train

    ClassName       ImageID        XMax        XMin      YMax        YMin
0   left_foot  IMG_3515.JPG  256.000000  136.450328  256.0000  256.000000
1  right_foot  IMG_3515.JPG  301.360875  235.634579  455.4434  344.123868

In [59]:
df.shape

(18734, 6)

In [61]:
df_new=df[df.ImageID != "crop1002nhyui"]

In [62]:
df_new.to_csv("data/sub-train-annotations-bbox.csv")

In [63]:
.8*17019

13615.2

In [2]:
!which pip

/home/chan/anaconda3/bin/pip

In [1]:
import torchvision

In [2]:
torchvision.__version__

'0.5.0'

In [12]:
import torch

In [8]:
a=torch.Tensor([0,1,2,3,0,4])

In [9]:
import numpy as np

In [10]:
np.count_nonzero(a)

4

In [1]:
import glob

In [9]:
files=glob.glob('data/test/*')

In [ ]:
files

In [13]:
labels=torch.Tensor([0,0,1,1,2,2,2,2,0,0,0,0])

In [16]:
(labels==0).sum()

tensor(6)

In [1]:
import os

In [6]:
prev_path = os.getcwd()

In [7]:
prev_path

'/home/vipul/uplaraml/pytorch_ssd_models'

In [10]:
os.path.dirname(os.path.dirname(prev_path))

'/home/vipul'

In [8]:
os.path.split(prev_path)

('/home/vipul/uplaraml', 'pytorch_ssd_models')